
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>string-replace - replace substrings &#8212; fish-shell 3.1.0 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../_static/custom.css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/language_data.js"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="string-split - split strings by delimiter" href="string-split.html" />
    <link rel="prev" title="string-repeat - multiply a string" href="string-repeat.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="string-split.html" title="string-split - split strings by delimiter"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="string-repeat.html" title="string-repeat - multiply a string"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../index.html">fish-shell 3.1.0 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../commands.html" accesskey="U">Commands</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="string-replace-replace-substrings">
<h1>string-replace - replace substrings<a class="headerlink" href="#string-replace-replace-substrings" title="Permalink to this headline">¶</a></h1>
<div class="section" id="synopsis">
<h2>Synopsis<a class="headerlink" href="#synopsis" title="Permalink to this headline">¶</a></h2>
<div class="highlight-fish-docs-samples notranslate"><div class="highlight"><pre><span></span><span class="nf">string</span><span class="w"> </span><span class="no">replace</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-a</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--all</span><span class="o">)</span><span class="no">]</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-f</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--filter</span><span class="o">)</span><span class="no">]</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-i</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--ignore-case</span><span class="o">)</span><span class="no">]</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-r</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--regex</span><span class="o">)</span><span class="no">]</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-q</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--quiet</span><span class="o">)</span><span class="no">]</span><span class="w"> </span><span class="no">PATTERN</span><span class="w"> </span><span class="no">REPLACEMENT</span><span class="w"> </span><span class="no">[STRING...]</span><span class="w"></span>
</pre></div>
</div>
</div>
<div class="section" id="description">
<h2>Description<a class="headerlink" href="#description" title="Permalink to this headline">¶</a></h2>
<p><code class="docutils literal notranslate"><span class="pre">string</span> <span class="pre">replace</span></code> is similar to <code class="docutils literal notranslate"><span class="pre">string</span> <span class="pre">match</span></code> but replaces non-overlapping matching substrings with a replacement string and prints the result. By default, PATTERN is treated as a literal substring to be matched.</p>
<p>If <code class="docutils literal notranslate"><span class="pre">-r</span></code> or <code class="docutils literal notranslate"><span class="pre">--regex</span></code> is given, PATTERN is interpreted as a Perl-compatible regular expression, and REPLACEMENT can contain C-style escape sequences like <code class="docutils literal notranslate"><span class="pre">\t</span></code> as well as references to capturing groups by number or name as <code class="docutils literal notranslate"><span class="pre">$n</span></code> or <code class="docutils literal notranslate"><span class="pre">${n}</span></code>.</p>
<p>If you specify the <code class="docutils literal notranslate"><span class="pre">-f</span></code> or <code class="docutils literal notranslate"><span class="pre">--filter</span></code> flag then each input string is printed only if a replacement was done. This is useful where you would otherwise use this idiom: <code class="docutils literal notranslate"><span class="pre">a_cmd</span> <span class="pre">|</span> <span class="pre">string</span> <span class="pre">match</span> <span class="pre">pattern</span> <span class="pre">|</span> <span class="pre">string</span> <span class="pre">replace</span> <span class="pre">pattern</span> <span class="pre">new_pattern</span></code>. You can instead just write <code class="docutils literal notranslate"><span class="pre">a_cmd</span> <span class="pre">|</span> <span class="pre">string</span> <span class="pre">replace</span> <span class="pre">--filter</span> <span class="pre">pattern</span> <span class="pre">new_pattern</span></code>.</p>
<p>Exit status: 0 if at least one replacement was performed, or 1 otherwise.</p>
</div>
<div class="section" id="examples">
<h2>Examples<a class="headerlink" href="#examples" title="Permalink to this headline">¶</a></h2>
<div class="section" id="replace-literal-examples">
<h3>Replace Literal Examples<a class="headerlink" href="#replace-literal-examples" title="Permalink to this headline">¶</a></h3>
<div class="highlight-fish-docs-samples notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">replace</span><span class="w"> </span><span class="no">is</span><span class="w"> </span><span class="no">was</span><span class="w"> </span><span class="s1">&#39;blue is my favorite&#39;</span><span class="w"></span>
blue was my favorite

<span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">replace</span><span class="w"> </span><span class="no">3rd</span><span class="w"> </span><span class="no">last</span><span class="w"> </span><span class="no">1st</span><span class="w"> </span><span class="no">2nd</span><span class="w"> </span><span class="no">3rd</span><span class="w"></span>
1st
2nd
last

<span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">replace</span><span class="w"> </span><span class="no">-a</span><span class="w"> </span><span class="s1">&#39; &#39;</span><span class="w"> </span><span class="no">_</span><span class="w"> </span><span class="s1">&#39;spaces to underscores&#39;</span><span class="w"></span>
spaces_to_underscores
</pre></div>
</div>
</div>
<div class="section" id="replace-regex-examples">
<h3>Replace Regex Examples<a class="headerlink" href="#replace-regex-examples" title="Permalink to this headline">¶</a></h3>
<div class="highlight-fish-docs-samples notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">replace</span><span class="w"> </span><span class="no">-r</span><span class="w"> </span><span class="no">-a</span><span class="w"> </span><span class="s1">&#39;[^</span><span class="se">\\</span><span class="s2">d.]+&#39;</span><span class="w"> </span><span class="s1">&#39; &#39;</span><span class="w"> </span><span class="s1">&#39;0 one two 3.14 four 5x&#39;</span><span class="w"></span>
0 3.14 5

<span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">replace</span><span class="w"> </span><span class="no">-r</span><span class="w"> </span><span class="s1">&#39;(</span><span class="se">\\</span><span class="s2">w+)</span><span class="se">\\</span><span class="s2">s+(</span><span class="se">\\</span><span class="s2">w+)&#39;</span><span class="w"> </span><span class="s1">&#39;$2 $1 $$&#39;</span><span class="w"> </span><span class="s1">&#39;left right&#39;</span><span class="w"></span>
right left $

<span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">replace</span><span class="w"> </span><span class="no">-r</span><span class="w"> </span><span class="s1">&#39;</span><span class="se">\\</span><span class="s2">s*newline</span><span class="se">\\</span><span class="s2">s*&#39;</span><span class="w"> </span><span class="s1">&#39;</span><span class="se">\\</span><span class="s2">n&#39;</span><span class="w"> </span><span class="s1">&#39;put a newline here&#39;</span><span class="w"></span>
put a
here
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h3><a href="../index.html">Table of Contents</a></h3>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../index.html">Introduction</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../commands.html">Commands</a></li>
<li class="toctree-l1"><a class="reference internal" href="../design.html">Design</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorial.html">Tutorial</a></li>
<li class="toctree-l1"><a class="reference internal" href="../faq.html">Frequently asked questions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../license.html">License</a></li>
</ul>

<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">string-replace - replace substrings</a><ul>
<li><a class="reference internal" href="#synopsis">Synopsis</a></li>
<li><a class="reference internal" href="#description">Description</a></li>
<li><a class="reference internal" href="#examples">Examples</a><ul>
<li><a class="reference internal" href="#replace-literal-examples">Replace Literal Examples</a></li>
<li><a class="reference internal" href="#replace-regex-examples">Replace Regex Examples</a></li>
</ul>
</li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="string-split.html" title="string-split - split strings by delimiter"
             >next</a> |</li>
        <li class="right" >
          <a href="string-repeat.html" title="string-repeat - multiply a string"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../index.html">fish-shell 3.1.0 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../commands.html" >Commands</a> &#187;</li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &#169; Copyright 2019, fish-shell developers.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.8.4.
    </div>
  </body>
</html>