
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>string-repeat - multiply a string &#8212; fish-shell 3.1.0 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../_static/custom.css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/language_data.js"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="string-replace - replace substrings" href="string-replace.html" />
    <link rel="prev" title="string-match - match substrings" href="string-match.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="string-replace.html" title="string-replace - replace substrings"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="string-match.html" title="string-match - match substrings"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../index.html">fish-shell 3.1.0 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../commands.html" accesskey="U">Commands</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="string-repeat-multiply-a-string">
<h1>string-repeat - multiply a string<a class="headerlink" href="#string-repeat-multiply-a-string" title="Permalink to this headline">¶</a></h1>
<div class="section" id="synopsis">
<h2>Synopsis<a class="headerlink" href="#synopsis" title="Permalink to this headline">¶</a></h2>
<div class="highlight-fish-docs-samples notranslate"><div class="highlight"><pre><span></span><span class="nf">string</span><span class="w"> </span><span class="no">repeat</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-n</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--count</span><span class="o">)</span><span class="w"> </span><span class="no">COUNT]</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-m</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--max</span><span class="o">)</span><span class="w"> </span><span class="no">MAX]</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-N</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--no-newline</span><span class="o">)</span><span class="no">]</span><span class="w"> </span><span class="no">[</span><span class="o">(</span><span class="nf">-q</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">--quiet</span><span class="o">)</span><span class="no">]</span><span class="w"> </span><span class="no">[STRING...]</span><span class="w"></span>
</pre></div>
</div>
</div>
<div class="section" id="description">
<h2>Description<a class="headerlink" href="#description" title="Permalink to this headline">¶</a></h2>
<p><code class="docutils literal notranslate"><span class="pre">string</span> <span class="pre">repeat</span></code> repeats the STRING <code class="docutils literal notranslate"><span class="pre">-n</span></code> or <code class="docutils literal notranslate"><span class="pre">--count</span></code> times. The <code class="docutils literal notranslate"><span class="pre">-m</span></code> or <code class="docutils literal notranslate"><span class="pre">--max</span></code> option will limit the number of outputted char (excluding the newline). This option can be used by itself or in conjunction with <code class="docutils literal notranslate"><span class="pre">--count</span></code>. If both <code class="docutils literal notranslate"><span class="pre">--count</span></code> and <code class="docutils literal notranslate"><span class="pre">--max</span></code> are present, max char will be outputed unless the final repeated string size is less than max, in that case, the string will repeat until count has been reached. Both <code class="docutils literal notranslate"><span class="pre">--count</span></code> and <code class="docutils literal notranslate"><span class="pre">--max</span></code> will accept a number greater than or equal to zero, in the case of zero, nothing will be outputed. If <code class="docutils literal notranslate"><span class="pre">-N</span></code> or <code class="docutils literal notranslate"><span class="pre">--no-newline</span></code> is given, the output won't contain a newline character at the end. Exit status: 0 if yielded string is not empty, 1 otherwise.</p>
</div>
<div class="section" id="examples">
<h2>Examples<a class="headerlink" href="#examples" title="Permalink to this headline">¶</a></h2>
<div class="section" id="repeat-examples">
<h3>Repeat Examples<a class="headerlink" href="#repeat-examples" title="Permalink to this headline">¶</a></h3>
<div class="highlight-fish-docs-samples notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">repeat</span><span class="w"> </span><span class="no">-n</span><span class="w"> </span><span class="no">2</span><span class="w"> </span><span class="s1">&#39;foo &#39;</span><span class="w"></span>
foo foo

<span class="gp">&gt;_ </span><span class="nf">echo</span><span class="w"> </span><span class="no">foo</span><span class="w"> </span><span class="p">|</span><span class="w"> </span><span class="nf">string</span><span class="w"> </span><span class="no">repeat</span><span class="w"> </span><span class="no">-n</span><span class="w"> </span><span class="no">2</span><span class="w"></span>
foofoo

<span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">repeat</span><span class="w"> </span><span class="no">-n</span><span class="w"> </span><span class="no">2</span><span class="w"> </span><span class="no">-m</span><span class="w"> </span><span class="no">5</span><span class="w"> </span><span class="s1">&#39;foo&#39;</span><span class="w"></span>
foofo

<span class="gp">&gt;_ </span><span class="nf">string</span><span class="w"> </span><span class="no">repeat</span><span class="w"> </span><span class="no">-m</span><span class="w"> </span><span class="no">5</span><span class="w"> </span><span class="s1">&#39;foo&#39;</span><span class="w"></span>
foofo
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h3><a href="../index.html">Table of Contents</a></h3>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../index.html">Introduction</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../commands.html">Commands</a></li>
<li class="toctree-l1"><a class="reference internal" href="../design.html">Design</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorial.html">Tutorial</a></li>
<li class="toctree-l1"><a class="reference internal" href="../faq.html">Frequently asked questions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../license.html">License</a></li>
</ul>

<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">string-repeat - multiply a string</a><ul>
<li><a class="reference internal" href="#synopsis">Synopsis</a></li>
<li><a class="reference internal" href="#description">Description</a></li>
<li><a class="reference internal" href="#examples">Examples</a><ul>
<li><a class="reference internal" href="#repeat-examples">Repeat Examples</a></li>
</ul>
</li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="string-replace.html" title="string-replace - replace substrings"
             >next</a> |</li>
        <li class="right" >
          <a href="string-match.html" title="string-match - match substrings"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../index.html">fish-shell 3.1.0 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../commands.html" >Commands</a> &#187;</li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &#169; Copyright 2019, fish-shell developers.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.8.4.
    </div>
  </body>
</html>